<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">

    <main layout:fragment="content">

        <aside>
            <h3>주요기능</h3>
            <ul>
                <li>
                    <span>상품관리</span>
                    <ol>
                        <li><a th:href="@{/admin/product/list}">상품목록</a></li>
                        <li><a th:href="@{/admin/product/register}">상품등록</a></li>
                    </ol>
                </li>
                <li>
                    <span>주문관리</span>
                    <ol>
                        <li><a th:href="@{/admin/order/list}">주문목록</a></li>
                        <li><a th:href="@{/notfound}">배송관리</a></li>
                    </ol>
                </li>
                <li>
                    <span>회원관리</span>
                    <ol>
                        <li><a th:href="@{/admin/user/list}">회원목록</a></li>
                        <li><a th:href="@{/user/register}">회원등록</a></li>
                    </ol>
                </li>
            </ul>
        </aside>
        <section>
            <nav>
                <h3>관리자 메인</h3>
            </nav>

            <article>
                <h3>
                    <a href="#">상품현황</a>
                    <a th:href="@{/admin/product/list}" class="more">+ 더보기</a>
                </h3>
                <table border="0">
                    <tr>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>무게</th>
                        <th>구분</th>
                        <th>가격</th>
                        <th>재고</th>
                        <th>등록일</th>
                    </tr>
                    <tr th:each="product, index :${products}" th:if="${index.index < 3}">
                        <td th:text="${product.prodno}"></td>
                        <td th:text="${product.prodname}"></td>
                        <td>
                            <span th:if="${product.amount} >= 1000" th:text="(${product.amount}/1000)+'kg'"></span>
                            <span th:if="${product.amount} < 1000" th:text="${product.amount}+'g'"></span>
                        </td>
                        <td th:text="${product.cate}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.stock}"></td>
                        <td th:text="${#strings.substring(product.rdate,0,10)}"></td>
                    </tr>

                </table>
            </article>

            <article>
                <h3>
                    <a href="#">주문현황</a>
                    <a th:href="@{/admin/order/list}" class="more">+ 더보기</a>
                </h3>
                <table border="0">
                    <tr>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>수량</th>
                        <th>배송비</th>
                        <th>합계</th>
                        <th>주문자</th>
                        <th>주문일</th>
                    </tr>
                    <tr th:each="order, index :${orderListResponseDTO.dtoList}" th:if="${index.index < 3}">
                        <td th:text="${order.orderNO}">1011</td>
                        <td th:text="${order.prodname}">사과 500g</td>
                        <td th:text="${order.price}">4,000원</td>
                        <td th:text="${order.count}">2개</td>
                        <td th:text="${order.delCost}">3,000원</td>
                        <td th:text="${order.sum}">8,000원</td>
                        <td th:text="${order.name}">홍길동</td>
                        <td th:text="${#temporals.format(order.rdate,'yyyy-mm-dd')}">2023-01-01 13:06:14</td>
                    </tr>
                </table>
            </article>
            <article>
                <h3>
                    <a href="#">회원현황</a>
                    <a th:href="@{/admin/user/list}" class="more">+ 더보기</a>
                </h3>
                <table border="0">
                    <tr>
                        <th>회원아이디</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>휴대폰</th>
                        <th>이메일</th>
                        <th>등급</th>
                        <th>회원가입일</th>
                    </tr>

                    <tr th:each="user, index :${users}" th:if="${index.index < 3}">
                        <th th:text="${user.uid}">회원아이디</th>
                        <th th:text="${user.name}">이름</th>
                        <th th:text="${user.nick}">닉네임</th>
                        <th th:text="${user.hp}">휴대폰</th>
                        <th th:text="${user.email}">이메일</th>
                        <th th:text="${user.level}">등급</th>
                        <th th:text="${#strings.substring(user.regDate,0,10)}">회원가입일</th>
                    </tr>

                </table>
            </article>
        </section>
    </main>
