/*초기화*/
* {
    padding: 0px;
    margin: 0px;
    font-family: globalWebFont, Malgun-gothic, sans-serif;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #111;
}
input, textarea {
    outline: none;
}
/*topButton*/
.topButton {
    position: sticky;
    margin-left: 990px;
    line-height: 35px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: #666666;
    border-radius: 4px;
    cursor: pointer;
}

/*container*/
.container {
    width: 980px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

/***header***/
header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}
/*header-userBox*/
.userBox {
    align-items: center;
    padding: 4px 0;
    margin-right: 10px;
}
.userBox > a {
    float: right;
    font-size: 12px;
    margin-left: 16px;
    color: #666666;
}
/*header-logoBox*/
.logoBox {
    display: flex;
    margin-top: 36px;
    align-items: center;
}
/*header-logoBox-search*/
.logoBox > form {
    display: inline-block;
    margin-left: 100px;
    margin-right: 48px;
}
.logoBox label {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 40px;
    border: 1px solid #666666;
    border-radius: 20px;
}
.logoBox input {
    border: 0;
    width: 340px;
    height: 38px;
    margin: 1px 10px 1px 16px;
    font-size: 14px;
}
.logoBox button {
    font-size: 12px;
    position: absolute;
    right: 14px;
    top: 8px;
    width: 24px;
    height: 24px;
    border: 0;
    background-color:transparent;
    cursor: pointer;
}
/*header-bgBox*/
.bgBox {
    position: relative;
    width: 100%;
    height: 184px;
    background-image: url(../newimage/farm_top_bg.jpg);
}
.bgBox > img {
    position: absolute;
    top: 140px;
}

/*header-logoBox-btnUserBox*/
.btnUserBox {
    display: flex;
    justify-content: flex-end;
    width: 240px;
    height: 60px;
}
.btnUserBox > .btnUser {
    display: inline-block;
    width: 50px;
    height: 60px;
    margin: 0 15px;
    font-size: 12px;
    color: #666666;
    text-align: center;
}
.btnUserBox > .btnUser:hover {
    color: #a8d031;
}
.btnUserBox .btnUser:hover .btnUserImg1 {
    content: url(../newimage/farm_header_cart_hover.png);
}
.btnUserBox .btnUser:hover .btnUserImg2 {
    content: url(../newimage/farm_header_user_hover.png);
}
.btnUserBox .btnUser:hover .btnUserImg3 {
    content: url(../newimage/farm_header_order_hover.png);
}

/*header-navBox*/
.navBox > ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    margin-top: 20px;
    border-bottom: 2px solid #a8d031;
}
.navBox li {
    width: 196px;
    text-align: center;
}
.navBox li > a{
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}
.navBox li > a:hover {
    color: #a8d031;
    font-weight: bold;
}
.navBox li > .navOn {
    color: #a8d031;
    font-weight: bold;
}

/***footer***/
footer {
    width: 100%;
    border-top: 1px solid #aeaeae;
    padding-top: 20px;
}
.footerImgBox {
    display: inline-block;
    position: relative;
    width: 174px;
    height: auto;
}
.footerImgBox > img:nth-child(1) {
    position: absolute;
    top: 40px;
}
footer > p {
    float: right;
    font-size: 11px;
    color: #585858;
    margin-top: 26px;
    margin-right: 16px;
    line-height: 18px;
}

/***index***/
main {
    width: 100%;
}
/*index-adBox*/
.adBox {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.adBox > div {
    position: relative;
    display: inline-block;
    width: 1960px;
}
.adBox img {
    width: 100%;
    height: auto;
    display: block;
}
.btnMoveLeftImg {
    font-size: 12px;
    position: absolute;
    left: 735px;
    top: 140px;
    width: 15px;
    height: 40px;
    border: 0;
    background-color:transparent;
    cursor: pointer;
    z-index: 9999;
}
.btnMoveRightImg {
    display: none;
    font-size: 12px;
    position: absolute;
    left: 230px;
    top: 140px;
    width: 15px;
    height: 40px;
    border: 0;
    background-color:transparent;
    cursor: pointer;
    z-index: 9999;
}
.indexMoveBox {
    position: absolute;
    top: 0;
    left: 750px;
    width: 230px;
    height: 312px;
    background-image: url("../newimage/farm_index_moveBg2.jpg");
    z-index: 9999;
}
/*index-btnArticleBox*/
.btnArticleBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #a0a0a0;
}
.btnArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    padding: 6px 10px;
    margin: 0 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #a0a0a0;
    border-radius: 20px;
}
.btnArticle > img {
    width: 40px;
}
.btnArticle:hover {
    background-color: #a8d031;
}
/*index-bannerBox*/
.bannerBox {
    display: flex;
    width: 100%;
    height: 74px;
    margin: 10px 0;
}
.bannerBox > a {
    display: inline-block;
    width: 490px;
    height: 74px;
    padding-left: 10px;
}
.bannerBox h5 {
    padding-top: 10px;
    color: #4e4e4e;
}
.banner1 {background-image: url(../newimage/ad/farm_banner1.jpg);}
.banner2 {background-image: url(../newimage/ad/farm_banner2.jpg);}

/*index-pordCateBox*/
.pordCateBox {
    padding-top: 10px;
    margin-top: 20px;
    padding-left: 14px;
}
.cateOn {
    background-color: #a8d031 !important;
    color: white !important;
}
.pordCateBox > .productCate {
    display: flex;
    height: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.pordCateBox > .productCate > a {
    display: inline-block;
    width: 80px;
    height: 36px;
    border-radius: 20px;
    background-color: #f6f6f6;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    color: #666666;
    margin-right: 10px;
}
.productCate > a:nth-last-child(1) {
    margin-left: auto;
}
.pordCateBox > .productCate > a:hover {
    background-color: #a8d031;
    color: white;
}
/*index-pordCateBox-productBox*/
.productBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-top: 20px;
    list-style: none;
}
.product {
    display: inline-block;
    width: 245px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}
.product > div:nth-child(1) {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
}
.product > div:nth-child(1) > img {
    width: 220px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.productBox .product:hover img {
    transform: scale(1.2);
}
.product > div {
    width: 220px;
    text-align: left;
    margin-left: 14px;
}
.disProd {
    padding: 6px 0;
    margin-bottom: 4px;
    height: 26px;
    border-bottom: 1px solid #dadada;
}
.disProd > span {
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    color: white;
    border-radius: 20px;
    background-color: rgb(223, 0, 17);
}
.product .title {
    max-width: 160px;
    margin-right: 4px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product .amount {
    max-width: 48px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product span {
    display: inline;
}
.product h3 {
    display: inline;
}
.product .discount {
    color: red;
}
.product .price {
    color: #a0a0a0;
    font-size: 12px;
}

/***article***/
.articleMain {
    display: flex;
    width: 980px;
    height: auto;
}
/*article-sideBox*/
.sideBox {
    display: inline-block;
    width: 180px;
    height: auto;
}
.sideBox > img {
    margin: 10px 0 10px 25px;
}
.sideBox > ul {
    width: 170px;
    padding: 6px 0 6px 10px;
}
.sideBox li > a {
    display: block;
    box-sizing: border-box;
    width: 170px;
    height: auto;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0 6px 10px;
    margin: 2px 0;
}
.sideBox li > a:hover {
    color: white;
    background-color: #a8d031;
    border-bottom: 2px solid #aeaeae;
    border-right: 1px solid #aeaeae;
}
.sideBox .tabOn {
    color: white;
    background-color: #a8d031;
    border-bottom: 2px solid #aeaeae;
    border-right: 1px solid #aeaeae;
}
/*article-contentBox*/
.contentBox {
    display: inline-block;
    width: 800px;
    height: auto;
    padding-bottom: 30px;
    border-left: 1px solid #aeaeae;
}
/*article-contentBox-articleHeader*/
.articleHeader {
    display: flex;
    margin: 20px 20px 40px 20px;
    padding-bottom: 4px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #aeaeae;
}
.articleHeader > h2 {
    width: 470px;
}
.articleHeader > h5 {
    color: #8c8c8c;
}
.articleHeader > h5 > span {
    color: #a8d031;
    font-weight: bold;
}
/*article-contentBox-articleBox*/
.articleBox {
    width: 760px;
    padding-left: 20px;
}
/*article-contentBox-articleBox-articleInfo*/
.articleInfo {
    display: flex;
    padding: 0 0 6px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #a8d031;
}
.articleInfo > h4 {
    width: 450px;
}
/*article-contentBox-articleBox-articleSearch*/
.articleSearch {
    display: inline-block;
}
.articleSearch > label {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 30px;
    border: 1px solid #666666;
    border-radius: 20px;
}
.articleSearch select {
    border: none;
    margin: 1px 4px 1px 10px;
    outline: none;
}
.articleSearch input {
    border: 0;
    width: 120px;
    height: 28px;
    margin: 1px 10px 1px 0;
    font-size: 14px;
}
.articleSearch button {
    font-size: 12px;
    position: absolute;
    right: 14px;
    top: 4px;
    width: 24px;
    height: 24px;
    border: 0;
    background-color:transparent;
    cursor: pointer;
}
/*article-list-글쓰기 btn*/
.btnGoWrite {
    float: right;
    padding: 6px;
    margin-right: 8px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.btnGoWrite:hover {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}
/*article-contentBox-articleBox-articleTable*/
.articleTable {
    display: flex;
    width: 760px;
    height: auto;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #a0a0a0;
}
.articleTable:hover {
    background-color: #f4f4f4;
}
.articleTable > h4:nth-child(1) {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.articleTable > div {
    display: inline-block;
    padding: 4px;
}
.articleTable > div > h5 {
    color: #a0a0a0;
}
/***PageBox***/
.PageBox {
    text-align: center;
    margin: 10px 0;
}
.PageBox > ul {
    display: flex;
    justify-content: center;
}
.PageBox li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0.5px;
}
.PageBox li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #d6d6d6;
    color: #111;
    font-size: 12px;
    line-height: 25px;
}
.PageBox li > a:hover {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}
.PageBox li > .pageOn {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}

/***article-view***/
.articleForm {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.articleForm > div {
    display: flex;
    margin: 10px 0;
    width: 100%;
}
.articleForm > .titleBox {
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #d6d6d6;
}
.articleForm > .titleBox > p {
    font-size: 18px;
    font-weight: bold;
}
.articleForm > .infoBox {
    margin: 10px 0 0 0;
    justify-content: space-between;
}
.articleForm > .contentsBox {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.articleForm > .contentsBox > textarea {
    width: 100%;
    min-height: 300px;
    margin: 20px 0;
    text-align: left;
    font-size: 16px;
    outline: none;
    resize: none;
    border: 0;
}
.articleForm .titleInput {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    outline: none;
    resize: none;
    border: 0;
}
/*aritlce-view-file*/
.fileBox {
    align-items: center;
}
.fileBox > p {
    justify-content: center;
    margin-right: 10px;
}
.fileBox > a {
    padding: 4px 6px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    margin: 0 4px;
}
.fileBox > a:hover {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}
/*aritlce-view-btn*/
.articleBtnBox {
    padding: 10px 0;
    justify-content: end;
    border-top: 1px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
}
.articleBtnBox > a {
    font-size: 14px;
    padding: 6px;
    margin: 0 4px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}
.articleBtnBox > a:hover {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}
/*aritlce-view-commentBox*/
.commentBox {
    flex-wrap: wrap;
    flex-direction: column;
}
.commentBox > p {
    margin-top: 10px;
    padding-left: 4px;
    font-weight: bold;
}
.commentBox > form > textarea {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    outline: none;
    resize: none;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}
.commentBox > form > div {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.commentBox > form > div > button {
    padding: 6px;
    margin-left: 4px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}
.commentBox > form > div > button:hover {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}
.commentBox > .comment {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
}
.commentBox > .comment > p {
    padding-left: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d6d6d6;
}
.commentBox > .comment > textarea {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    outline: none;
    resize: none;
    border: 0;
    background-color: transparent;
}
.commentBox > .comment > div {
    display: flex;
    justify-content: end;
    margin-top: 4px;
}
.commentBox > .comment > div > button {
    padding: 6px;
    margin-right: 8px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.commentBox > .comment > div > button:hover {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}

/***market-list***/
.articleBox > .productBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-top: 20px;
    list-style: none;
}
.articleBox .product {
    display: inline-block;
    width: 253px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}
.articleBox .product > div:nth-child(1) {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
}
.articleBox .product img {
    width: 220px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.articleBox .product:hover img {
    transform: scale(1.2);
}
.articleBox .product > div {
    width: 220px;
    text-align: left;
    margin-left: 16px;
}
.articleBox .product .disProd {
    padding: 6px 0;
    margin-bottom: 4px;
    height: 26px;
    border-bottom: 1px solid #dadada;
}
.articleBox .product .disProd > span {
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    color: white;
    border-radius: 20px;
    background-color: rgb(223, 0, 17);
}
.articleBox .product .title {
    max-width: 160px;
    margin-right: 4px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articleBox .product .amount {
    max-width: 48px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articleBox .product span {
    display: inline;
}
.articleBox .product h3 {
    display: inline;
}
.articleBox .product .discount {
    color: red;
}
.articleBox .product .price {
    color: #a0a0a0;
    font-size: 12px;
}
.articleBox .product .point {
    display: inline;
    color: #1ba41b;
    margin-left: 10px;
} 

/*market-search*/
.marketInfo {
}
.marketSearch {
    display: flex;
}
.marketSearch > label {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 30px;
    margin-left: 36px;
    border: 1px solid #666666;
    border-radius: 20px;
}
.marketSearch input {
    border: 0;
    width: 120px;
    height: 28px;
    margin: 1px 10px 1px 16px;
    font-size: 14px;
}
.marketSearch button {
    font-size: 12px;
    position: absolute;
    right: 14px;
    top: 4px;
    width: 24px;
    height: 24px;
    border: 0;
    background-color:transparent;
    cursor: pointer;
}
.productArray {
    margin: 0;
    padding-left: 10px;
}
.productArray > a {
    font-size: 12px;
    margin-right: 10px;
}
.productArray > a:hover {
    font-weight: bold;
    color: #a8d031;
}
.productArray > .arrayOn {
    font-weight: bold;
    color: #a8d031;
}

/***market-view***/
.prodInfoBox {
    display: flex;
    width: 100%;
}
.prodImg {
    padding: 0 20px;
}
.pordInfo {
    width: 100%;
    margin-left: 30px;
}
.pordInfo > h2 {
    padding: 4px 0;
}
.pordInfo > h4:nth-child(2) {
    font-weight: normal;
    margin-bottom: 20px;
    cursor: pointer;
}
.pordInfo > h3:nth-child(3) {
    display: inline;
    color: red;
}
.pordInfo > h3:nth-child(4) {
    display: inline;
    color: #666666;
    font-weight: normal;
}
.pordInfo > h2:nth-child(5) {
    padding: 0;
}
.pordInfo > h5:nth-child(6) {
    display: inline;
    color: #666666;
}
.pordInfo > h5:nth-child(7) {
    display: inline;
}
.pordInfo > h4:nth-child(8) {
    margin: 10px 0;

}
.pordInfo > h3:nth-child(9) {
    color: #1ba41b;
}
.totalPriceBox {
    width: 390px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f6f6f6;
}
.totalPriceBox > .totalPrice {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}
.totalPriceBox > .totalPrice > h4:nth-child(1) {
    width: 100%;
    margin-bottom: 10px;
    font-weight: normal;
}
.totalPriceBox > .totalPrice > h4:nth-child(3) {
    display: flex;
    margin-left: auto;
    font-weight: bold;
    text-align: right;
}
.priceFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.totalPriceBox > div > h3 {
    display: inline;
}
.totalPriceBox > div > h2 {
    display: inline;
    color: #df0011;
}
.pordInfo > .prodBtn {
    display: flex;
    width: 430px;
    margin-top: 10px;
    justify-content: space-between;
}
.pordInfo > .prodBtn > button {
    border: none;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #333333;
    cursor: pointer;
}
.pordInfo > .prodBtn > button:nth-child(2) {
    background-color: #df0011;
}
/* 장보기 - 리뷰 */
.prodReviewWrap {
    padding: 0px 20px;
}
.prodReviewWrap > .reviewItem:first-of-type {
    border: none;
}
.css-1rj676f {
    padding: 20px 0px;
    background: rgb(255, 255, 255);
}
.css-1rj676f .scoreInfo {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
}
/* 리뷰 별 */
.css-jn37c1:first-of-type {
    margin: 0px 0px 2px;
}
.css-jn37c1 {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 0px 2px 2px;
    text-align: left;
    font-size: 0px;
}
/* 리뷰 별 갯수 */
.css-1rj676f .scoreInfo .scoreNum {
    margin: 0px 5px 1px 3px;
    font-size: 15px;
    color: rgb(34, 34, 34);
}
.css-ajngxe {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 22px;
    margin: 17px 0px 0px;
}
.css-dfvcwv .name {
    display: inline-block;
    height: 22px;
    padding-left: 4px;
    font-size: 13px;
    line-height: 22px;
    vertical-align: middle;
}
.css-a0c6pv {
    margin-left: auto;
    font-size: 13px;
    color: rgb(102, 102, 102);
    vertical-align: -1px;
}
/* NEW 리뷰 별 */
.prodWriteReview fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
.prodWriteReview fieldset legend{
    text-align: right;
}
.prodWriteReview input[type=radio]{
    display: none;
}
.prodWriteReview label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.prodWriteReview label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.prodWriteReview label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.prodWriteReview input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
/* 주문 목록 - 컨테이너 */
.order-container {
    max-width: 980px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
/* 주문 목록 - 섹션 헤딩 */
.order-container h3 {
    font-size: 18px;
    margin-top: 30px;
    color: #333;
}

/* 주문 목록 - 이미지 섹션 스타일링 */
.order-detail img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}
/* 주문 목록 - 네비게이션 바 스타일링 */
.order-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

.order-nav ul li {
    float: left;
}

.order-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.order-nav ul li a:hover {
    background-color: #111;
}
/* 주문 목록 - 테이블 스타일링 */
.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table thead th {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid #eaeaea;
}

.order-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.order-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}
/*  주문 목록 - Review Modal */
.prodWriteReview {
    display: none;
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.prodWriteReview > .reviewForm {
    position:absolute;
    top:50%;
    left: 50px;
    width:737px;
    height:215px;
    padding:40px;
    text-align: center;
    background-color: rgb(255,255,255);
    border: 3px solid #a8d031;
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
}
.prodWriteReview  p > input:nth-child(2) {
    font-size: 16px;
    width: 60px;
    border: 0;
}
.prodWriteReview textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    resize: none;
    border: 1px solid #dfe3e8;
    border-radius: 10px;
}
/* 주문 목록 - Review btn */
.btnReview {
    float: right;
    padding: 6px;
    margin-right: 8px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.btnReview:hover {
    color: white;
    border: 1px solid #a8d031;
    background-color: #a8d031;
}
/* 리뷰 - 이미지 **/
.thumbList {
    width: 400px;
}
.css-1fc1rmp {
    overflow: hidden;
    margin-top: 12px;
}
.css-1fc1rmp.typeA .thumb {
    position: relative;
    float: left;
    width: calc(20% - 5px);
    margin-left: 5px;
}
.css-1fc1rmp.typeA .thumb .img {
    display: block;
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
}
 .css-1fc1rmp.typeA .thumb {
     position: relative;
     float: left;
     width: calc(20% - 5px);
     margin-left: 5px;
 }
/* 리뷰 - 내용 **/
.css-bgfycm {
    position: relative;
    margin: 20px 0px 0px;
}
.css-bgfycm .contents {
    margin: 8px 0px 0px;
    font-size: 13px;
    color: rgb(34, 34, 34);
    line-height: 1.38;
    word-break: break-word;
    white-space: pre-line;
}
/* 수량 입력 상자 전체 스타일링 */
.quantity-input {
    display: flex;
    width: 110px;
    height: 30px;
    justify-content: center;
    border: 1px solid #777777;
    border-radius: 20px;
}
/* 수량 버튼 스타일링 */
.plus-btn, .minus-btn {
    width: 30px;
    border: none;
    font-size: 20px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
/* 입력 상자 스타일링 */
.quantity {
    width: 30px;
    border: none;
    font-weight: bold;
    text-align: center;
}
/* 마이너스 버튼이 수량이 1일 때 비활성화되도록 스타일링 */
.quantity-input .minus-btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.prodContent {
    width: 100%;
    margin-top: 20px;
}
.articleBox > h3 {
    margin: 10px 0;
}
.exchange > table {
    border-collapse: collapse;
}
.exchange > table tr > td {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.exchange > table tr > td:nth-child(1) {
    border-left: none;
}
.exchange > table tr > td:nth-child(2) {
    border-right: none;
}

/**리뷰 market-review**/
.prodReviewBox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0 20px;
}
.prodReviewBox > h3 {
    margin: 10px 0;
}
.prodReviewHeader {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid #666666;
    border-bottom: 1px solid #dfe3e8;
}
.reviewStarBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.reviewStarBox > p {
    display: flex;
    font-size: 16px;
    line-height: 30px;
}
.reviewStarBox > p > span {
    width: 30px;
    margin-left: 4px;
    margin-right: 2px;
    font-size: 18px;
    text-align: right;
}
.reviewStar {
    width: 150px;
    margin-right: 20px;
    margin-left: 8px;
}

.prodWriteReview  p > input:nth-child(2) {
    font-size: 16px;
    width: 60px;
    border: 0;
}
.prodWriteReview textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    resize: none;
    border: 1px solid #dfe3e8;
    border-radius: 10px;
}

.prodReview {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #dfe3e8;
    border-radius: 10px;
}
.prodReview {
    display: flex;
}
.prodReview > p {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}
.prodReview > p > img {
    width: 100px;
    height: 20px;
    margin-right: 20px;
    margin-left: 8px;
}
.prodReview > p > b {
    padding-right: 10px;
}
.prodReview > p > span {
    padding-top: 2px;
    font-size: 14px;
}
.prodReview textarea {
    width: 600px;
    height: 120px;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 10px;
    resize: none;
    border: 0;
}

/***market-cart***/
.cartHeader {
    display: flex;
    width: 500px;
    height: auto;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #dfe3e8;
    border-radius: 8px;
}
.cartHeader > input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.cartHeader > h4 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 315px;
}
.cartHeader > a {
    text-decoration: underline
}
.cartBox {
    margin-bottom: 100px;
}
.prodInfoBox .cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #dfe3e8;
    border-radius: 10px;
}
.cartItem > input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.cartImg {
    padding: 18px;
}
.cartInfo {
    display: flex;
    flex-direction: column;
    width: 310px;
    padding: 4px;
}
.cartInfo > p {
    display: flex;
    justify-content: space-between;
}
.cartInfo > p:nth-child(1) {
    margin: 6px 0;

}
.cartInfo > p:nth-child(1) > a:nth-child(1){
    width: 240px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.cartInfo > p:nth-child(1) > a:nth-child(2) {
    padding-right: 10px;
    text-decoration: underline
}
.cartInfo > p:nth-child(2) {
    justify-content: start;
    margin-bottom: -4px;
}
.cartInfo > p:nth-child(2)> span:nth-child(1) {
    color: red;
    font-weight: bold;
    margin-right: 10px;
}
.cartInfo > p:nth-child(2)> span:nth-child(2) {
    color: #666666;
    font-size: 14px;
}
.cartInfo > p:nth-child(3) b {
    font-size: 18px;
}
.cartInfo > .cartInfoBot {
    display: flex;
    justify-content: space-between;
}
.cartInfoBot > div > p:nth-child(1) {
    margin-top: 6px;
    color: #1ba41b;
    font-weight: normal;
    font-size: 14px;
}
.cartInfoBot > div > p:nth-child(2) {
    color: #0b3ae2;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}
.cartInfoBot > div:nth-child(2) {
    margin-top: 10px;
    margin-right: 10px;
}
.cartTotal {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 250px;
    padding: 10px;
    margin-left: 16px;
    border: 1px solid #dfe3e8;
    border-radius: 8px;
}
.cartTotal > p {
    display: flex;
    margin: 4px 0;
    justify-content: space-between;
}
.cartTotal > p:nth-child(1) {
    margin: 10px 0;
    font-weight: bold;    
}
.cartTotal > p:nth-child(3) span {
    color: red;
}
.cartTotal > p:nth-child(5) {
    font-weight: bold;
    border-top: 1px solid #dfe3e8;
    padding-top: 10px;
    margin-top: 10px;
}
.cartTotal > p:nth-child(6) {
    font-weight: bold;
    color: #1ba41b;
    font-size: 14px;
    padding-right: 4px;
}
.cartTotal > button {
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #df0011;
    cursor: pointer;
}

/***market-order***/
.orderBox {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    padding-left: 20px;
}
.orderBox > h3 {
    margin: 10px 0;
    height: 25px;
}
.orderBox > div {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.orderProdBox {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #dfe3e8;
    border-radius: 10px;
    margin-bottom: 20px;
}
.orderProdBox > .orderProd {
    display: flex;
    width: 760px;
    padding: 5px 0;
    border-bottom: 1px solid #dfe3e8;
}
.orderProdBox > .orderProd:nth-last-child(1) {
    border: 0;
}
.orderProd > img {
    display: flex;
    width: 60px;
    padding: 4px;
    padding-left: 10px;
}
.orderProd > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}
.orderProd > div:nth-child(2) {
    width: 400px;
}
.orderProd > div:nth-last-child(2) {
    width: 220px;
}
.orderProd > div:nth-last-child(2) > span {
    font-size: 14px;
    color: #1ba41b;
}
.orderProd > div:nth-last-child(1) {
    width: 250px;
    padding-left: 10px;
    font-weight: bold;
    color: #0b3ae2;
}
.orderProd > div > p {
    width: 100%;
    line-height: 100%;
    align-items: center;
    display: flex;
}
.orderProd > div:nth-child(2) > p:nth-child(2) > span:nth-child(1) {
    color : red;
    font-size: 14px;
}
.orderProd > div:nth-child(2) > p:nth-child(2) > span:nth-child(2) {
    padding-left: 4px;
    color : #666666;
    font-size: 14px;
}
.orderbotBox {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
}
.orderbotBox > .orderInfoBox {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding-right: 10px;
}
.orderInfoBox > h3 {
    margin: 10px 0;
}
.orderInfoBox > div {
    display: flex;
    width: 500px;
    height: auto;
    padding: 10px;
    border: 1px solid #dfe3e8;
    border-radius: 10px;
}
.orderInfoBox > div > table {
    width: 100%;
    border-collapse: collapse;
}
.orderInfoBox > div > table tr > td {
    padding: 10px 14px;
    border: 1px solid #dfe3e8;
}
.orderInfoBox > div > table tr input {
    border: 1px solid #dfe3e8;
    font-size: 16px;
    padding-left: 2px;
}
.orderInfoBox > div > table tr:nth-child(2) input {
    margin: 4px 0;
}
.orderInfoBox > div > table tr:nth-child(2) input:nth-child(3), input:nth-child(4){
    width: 300px;
}
.orderInfoBox > div > table tr button {
    margin-left: 10px;
    padding: 0 5px;
    border: 1px solid #dfe3e8;
    font-size: 16px;
    cursor: pointer;
}
.orderInfoBox > div > table tr textarea {
    border: 1px solid #dfe3e8;
    width: 300px;
    font-size: 16px;
    padding-left: 2px;
    resize: none;
}
.orderInfoBox > div > table tr > td:nth-child(1) {
    font-weight: bold;
    width: 80px;
    text-align: right;
    border-left: 0;
}
.orderInfoBox > div > table tr > td:nth-child(2) {
    border-right: 0;
}
.orderInfoBox > div > table tr:nth-child(1) td {
    border-top: 0;
}
.orderInfoBox > div > table tr:nth-last-child(1) td {
    border-bottom: 0;
}
.orderInfoBox > div > table tr p:nth-child(1) {
    padding-bottom: 10px;
    font-size: 14px;
    color: #666666;
}
.orderInfoBox > div > table tr p:nth-last-child(1) {
    padding-top: 4px;
    font-size: 14px;
    color: red;
}
.orderInfoBox > div > table tr #usingPoint {
    text-align: right;
    padding: 0 4px;
}
.orderInfoBox > div > table tr #btnPoint {
    margin: 0;
    border-radius: 4px;
    border: 1px solid #dfe3e8;
}
.orderPayBox {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 325px;
}
.orderPayBox > h3 {
    margin: 10px 0;
    height: 25px;
}
.orderPayBox > .orderPay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    padding: 10px;
    border: 1px solid #dfe3e8;
    border-radius: 10px;
}
.orderPay > p {
    display: flex;
    margin: 4px 0;
    justify-content: space-between;
}
.orderPay > p:nth-child(1) {
    margin: 10px 0;
    font-weight: bold;    
}
.orderPay > p:nth-child(3) span {
    color: red;
}
.orderPay > p:nth-child(5) input {
    width: 50px;
    font-size: 14px;
    text-align: right;
}
.orderPay > p:nth-child(6) {
    font-weight: bold;
    border-top: 1px solid #dfe3e8;
    padding-top: 10px;
    margin-top: 10px;
}
.orderPay > p:nth-child(7) {
    font-weight: bold;
    color: #1ba41b;
    font-size: 14px;
    padding-right: 4px;
}
.orderPay > button {
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #df0011;
    cursor: pointer;
}