<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/newUserLayout}">

<div class="container" layout:fragment="content">
<main class="articleMain">
    <script th:inline="javascript" th:src="@{/js/communityWrite.js}"></script>
    <div class="sideBox">
        <img th:src="@{/images/sub_aside_cate5_tit.png}" alt="커뮤니티"/>
        <ul class="lnb">
            <li id="cateNotice"><a data-cate="notice" th:href="@{/community/newlist(cate=notice)}">공지사항</a></li>
            <li id="cateMenu"><a data-cate="menu" th:href="@{/community/newlist(cate=menu)}">오늘의식단</a></li>
            <li id="cateChef"><a data-cate="chef" th:href="@{/community/newlist(cate=chef)}">나도요리사</a></li>
            <li id="cateQna"><a data-cate="qna" th:href="@{/community/newlist(cate=qna)}">1:1고객문의</a></li>
            <li id="cateFaq"><a data-cate="faq" th:href="@{/community/newlist(cate=faq)}">자주묻는질문</a></li>
        </ul>
    </div>

            <div class="contentBox">
                <div class="articleHeader" id="communityNav">
                    <h2>공지사항</h2>
                    <h5>HOME > 커뮤니티 > <span>공지사항</span></h5>
                </div>
                <!-- 내용 시작 -->
                <div class="articleBox" id="community_view">
                    <form class="articleForm" id="articleForm"  th:action="@{/community/newwrite}" method="post" enctype="multipart/form-data">
                        <!--hidden-->
                        <input type="hidden" name="cate" th:value="${pageResponseDTO.cate}" id="cate"/>
                        <input type="hidden" name="pg">
                        <input type="hidden" name="type">
                        <input type="hidden" name="keyword">
                        <input type="hidden" name="writer" th:value="${#authentication.principal.user.uid}">
                        <div class="titleBox">
                            <input class="titleInput" type="text" name="title" placeholder="제목을 입력하세요.">
                        </div>
                        <div class="contentsBox">
                            <textarea id="contentTextarea" name="content" placeholder="내용을 입력하세요."></textarea>
                        </div>
                        <!-- 파일첨부 -->
                        <ul>
                            <li>
                                <label for="formFileMultiple" class="form-label">■ 첨부 파일 선택</label>
                                <input class="form-control" type="file" name="files" id="formFileMultiple" multiple>
                            </li>
                        </ul>
                        <div class="articleBtnBox">
                            <a th:if="${pageResponseDTO.keyword == null}" th:href="@{/community/newlist(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg})}"
                               class="btn btnCancel">취소</a>
                            <a th:if="${pageResponseDTO.keyword != null}" th:href="@{/community/newlist(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}"
                               class="btn btnCancel">취소</a>
                            <a th:href="@{/community/newwrite}" id="btnSubmit" class="btn btnSubmit">등록</a>
                        </div>
                    </form>
                </div>
                <!-- 내용 끝 -->
            </div>
        </main>
</div>
