<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">

<div class="container" layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/user.js}"></script>
    <main>
        <div id="user">
            <div class="register">
                <form th:action="@{/user/register}" name="registerForm" method="post">
                    <table border="0">
                        <caption>
                            사이트 이용정보 입력
                        </caption>
                        <tr>
                            <td>아이디</td>
                            <td>
                                <input class="form-control" id="inputUid" type="text" name="uid" placeholder="아이디 입력"/>
                                <label for="inputUid"></label><!--이거 없어도 될듯.-->
                                <button type="button" id="btnCheckUid" data-type="uid">
                                    <img th:src="@{/images/user/chk_id.gif}" alt="아이디 중복체크"/>
                                </button>
                                <div id="result_uid" class="deprecation-block"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td>
                                <input
                                        type="password"
                                        id="pass1"
                                        name="pass"
                                        placeholder="비밀번호 입력"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>비밀번호 확인</td>
                            <td>
                                <input
                                        type="password"
                                        id="pass2"
                                        name="pass2"
                                        placeholder="비밀번호 입력 확인"
                                />
                                <span id="result_pass"></span>
                            </td>
                        </tr>
                    </table>
                    <table border="0">
                        <caption>
                            개인정보 입력
                        </caption>
                        <tr>
                            <td>이름</td>
                            <td>
                                <input type="text" name="name" placeholder="이름 입력"/>
                                <span id="result_name"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>별명</td>
                            <td>
                                <p>공백없이 한글, 영문, 숫자만 입력가능</p>
                                <input type="text" id="nick" name="nick" data-type="nick" placeholder="별명 입력"/>
                                <span id="result_nick"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input type="email" name="email" id="inputEmail" placeholder="이메일 입력"/>
                                <button class="btnSubmit" type="button" id="btn_email" data-type="email">이메일 인증</button>
                                <span id="result_email"></span>
                            </td>
                        </tr>
                        <tr id="emailCodeRow" class="row mb-3 d-none">
                            <td>인증 코드</td>
                            <td class="col-md-6" colspan="2">
                                <input class="form-control" id="inputEmailCode" name="code" type="text"
                                       placeholder="이메일 인증코드 입력"/>
                                <button type="button" class="btnSubmit" id="btnCheckEmailCode"
                                        data-type="email">
                                    <span class="" role="status">인증코드 확인</span>
                                </button>
                                <div id="resultEmailCode" class="d-block"></div>
                            </td>
                        </tr>

                        <td>휴대폰</td>
                        <td>
                            <input
                                    type="text"
                                    id="hp"
                                    name="hp"
                                    placeholder="- 포함 13자리 입력"
                                    minlength="13"
                                    maxlength="13"
                                    data-type="hp"
                            />
                            <span id="result_hp"></span>
                        </td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td>
                                <div>
                                    <input
                                            type="text"
                                            name="zip"
                                            id="inputZip"
                                            placeholder="우편번호"
                                            readonly
                                    />
                                    <button type="button" id="findZip">
                                        <img th:src="@{/images/user/chk_post.gif}" alt="우편번호 검색"/>
                                    </button>
                                </div>
                                <div>
                                    <input
                                            type="text"
                                            name="addr1"
                                            id="inputAddr1"
                                            placeholder="주소를 검색하세요."
                                            readonly
                                    />
                                </div>
                                <div>
                                    <input
                                            type="text"
                                            name="addr2"
                                            id="inputAddr2"
                                            placeholder="상세주소를 입력하세요."
                                    />
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <a th:href="@{/user/login}" class="btnCancel">취소</a>
                        <input type="submit" class="btnSubmit" value="회원가입"/>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</html>